<!DOCTYPE html>
<html>
  <head>
    <title>Newgoduploader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "God Graphics Uploader" , "/" %>
    <%=  button_to "upload", {:controller => "upload"} ,:method => 'get' %>
    <%= yield %>
  </body>
</html>
